.hidden {
    visibility: hidden;
}

.div-loader {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 3px;
    z-index: 99999;
    overflow-x: hidden;

/*    .loader {
        animation: width ease;
        content: "";
        height: 3px;
        width: 0;
        background: #3366ff;
    }*/

    .line {
        position: absolute;
        opacity: 0.5;
        background: #3366ff;
        width: 150%;
        height: 3px;
    }

    .subline {
        position: absolute;
        background: #3366ff;
        height: 3px;
    }

    .inc {
        animation: increase 2s infinite;
    }
    .dec {
        animation: decrease 2s 0.5s infinite;
    }

    @keyframes increase {
        from { left: -5%; width: 5%; }
        to { left: 130%; width: 100%;}
    }
    @keyframes decrease {
        from { left: -80%; width: 80%; }
        to { left: 110%; width: 10%;}
    }
}
