<div class="w-100 h-100 d-flex align-items-center justify-content-center">
    <nb-card class="w-50">
        <nb-card-body [formGroup]="loginForm" class="d-flex flex-column" style="padding-top: 1rem;padding-bottom: 1rem;">
            <input type="text" formControlName="username" nbInput fullWidth shape="rectangle" placeholder="Usuário" class="input">
            <span *ngIf="hasError('username', 'required')" class="message-error">
                O campo é obrigatório
            </span>
            <span *ngIf="hasError('username', 'minlength')" class="message-error">
                O campo deve conter no mínimo 4 caracteres
            </span>
            <input type="password" formControlName="password" nbInput fullWidth shape="rectangle" placeholder="Senha" class="input">
            <span *ngIf="hasError('password', 'required')" class="message-error">
                O campo é obrigatório
            </span>
            <span *ngIf="hasError('password', 'minlength')" class="message-error">
                O campo deve conter no mínimo 8 caracteres
            </span>
            <div class="d-flex flex-column align-items-end">
                <a routerLink="/auth/cadastro" class="input">Criar conta</a>
                <button nbButton [disabled]="!loginForm.valid" (click)="login()" status="primary">Entrar</button>
            </div>
        </nb-card-body>
    </nb-card>
</div>
