/* The card */
.card-media {
    position: relative;
    height: auto;
    width: 100%;
    min-height: 450px;
    margin: 3rem auto;
    background-color: #1a1f33;
    box-shadow: 5px 5px 90px 0 rgba(0, 0, 0, 0.75);
}

/* Image on the left side */
.thumbnail {
    float: left;
    position: relative;
    left: 30px;
    top: -30px;
    height: 450px;
    width: 320px;
    box-shadow: 5px 5px 60px 0 rgba(0, 0, 0, 0.75);
    overflow: hidden;
}

/*object-fit: cover; */
/*object-position: center; */
img.left {
    position: absolute;
    left: 50%;
    top: 50%;
    height: auto;
    width: 100%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

/* Right side of the card */
.right {
    margin-left: 400px;
    margin-right: 2rem;
}

h1 {
    padding-top: 15px;
    font-size: 1.3rem;
    color: #fff;
}

.separator {
    margin-top: 10px;
    border: 1px solid #fff;
}

p {
    text-align: justify;
    padding-top: 10px;
    font-size: 0.95rem;
    line-height: 150%;
    color: #fff;
}
