<nb-layout>
    <nb-layout-header fixed>
        <div class="d-flex align-items-center justify-content-between no-box-shadow w-100">
            <div class="cursor-pointer outline-none" style="" routerLink="/">
                <img class="w-50 h-auto" src="../../../assets/img/mylist-horizontal-light.svg" alt="Mylist logo"/>
            </div>
        </div>
    </nb-layout-header>

    <!--<nb-sidebar>Sidebar Content</nb-sidebar>-->

    <nb-layout-column>
        <router-outlet></router-outlet>
    </nb-layout-column>

</nb-layout>
