$base: attr(img);

.grid {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    height: 30rem;

    .grid-element-1 {
        border: 1px solid #151a30;
        grid-row: span 2;
        display: flex;
        align-items: flex-end;
        cursor: pointer;
        user-select: none;

        .grid-element-text {
            font-size: 3rem;
            margin-bottom: 2rem;
        }
    }

    .grid-element-2, .grid-element-3, .grid-element-4, .grid-element-5 {
        border: 1px solid #151a30;
        display: flex;
        align-items: flex-end;
        cursor: pointer;
        user-select: none;

        .grid-element-text {
            font-size: 1rem;
        }
    }

    .grid-element-1:focus,
    .grid-element-2:focus,
    .grid-element-3:focus,
    .grid-element-4:focus,
    .grid-element-5:focus {
        box-shadow: 0 0 0 0;
        outline: 0;
        text-decoration: none;
    }

    .grid-element-text {
        font-weight: bold;
        margin: 1rem;
    }
}
