
/* Box Shadow */
.no-box-shadow {
    box-shadow: none!important;
}

/* Cursor */
.cursor-pointer {
    cursor: pointer;
}

/* Outline */
.outline-none {
    outline: none!important;
}

/* Width */
.w-30 {
    width: 30%!important;
}

.input {
    margin-top: 0.5rem;
    margin-bottom: 0.25rem;
}

.message-error {
    color: #ff3d71;
}
