
/* Box Shadow */
.no-box-shadow {
    box-shadow: none!important;
}

/* Cursor */
.cursor-pointer {
    cursor: pointer;
}

/* Outline */
.outline-none {
    outline: none!important;
}

/* Width */
.w-30 {
    width: 30%!important;
}
